.maincontent {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1686283376726-dfbef2eaf4b9?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}

.maincontent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the color and opacity as needed */
  z-index: 1;
}

.maincontent > * {
  position: relative;
  z-index: 2;
}
.maincontent h1{
  font-size: 90px;
  color: #ffffff;
}
.maincontent h3{
  font-size: 30px;
  color: #ffffff;
}
.maincontentbtn button{
  width: 110px;
  margin: 30px 20px;
  height: 40px;
  border: 1px wheat solid;
  border-radius: 40px;
  background-color: transparent;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
}
.maincontentbtn button:first-child{
  background-color: blue;
  border: none;
}
.maincontentbtn button:hover{
  scale: 1.1;
  transition: 0.5s;
  background: #05a11f;
}


.explore{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
.explore  h3{
  font-size: 50px;
  margin: 30px;
}
.explorecardsection{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  padding: 0px 40px;
}
.explorecards{
  margin: 0px auto;
  padding: 130px;
  background: #ebe9e9;
  border-radius: 7px;
  padding: 12px 30px;

}
.explorecards h5{
  font-size: 20px;
} 
.explorecards p{
  font-size: 14px;
} 

.project{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.project  h3{
  font-size: 50px;
  margin: 30px 0;
}
.projectcardsection{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  padding: 0px 40px;
}
.projectcards{
  margin: 0px auto;
  padding: 130px;
  background: #ebe9e9;
  border-radius: 7px;
  padding: 12px 30px;

}
.projectcards h5{
  font-size: 20px;
} 
.projectcards p{
  font-size: 14px;
} 